body {
    display: flex;
    flex-direction: column;
    background-color: #e3f2fd;

}

header {
   display: grid;
   grid-template-columns: 1fr auto;
   background-color: #aab9cc;
   padding: 25px;
   border-radius: 40px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  
 }
 h1 {
   color: #2f4c9a;
 }

img {
    border-radius: 10px;
    
}
main {
    display: flex;
    flex-direction: column;
    background-color: #dce7f3;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
} 
h1,h2,footer {
   text-decoration: underline;
}

 .item1 {
    margin: 20px;
    padding: 20px;
    border: 2px solid ;
    border-radius: 20px;
    
 }

 .item2 {
    margin: 20px;
    padding: 20px;
    border: 2px solid ;
    border-radius: 20px;
 }


 .item3 {
    margin: 20px;
    padding: 20px;
    border: 2px solid ;
    border-radius: 20px;
 }

 .item4 {
    margin: 20px;
    padding: 20px;
    border: 2px solid ;
    border-radius: 20px;
 }

 footer {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    background-color: #aab9cc;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    

 }

 
    

  
